*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

    @include respond(big-desktop){
        font-size: 75%;
    }

    @include respond(tab-land){
        font-size: 56.25%;
    }

    @include respond(tab-port){
        font-size: 50%;
    }

    @include respond(phone){
        font-size: 40%;
    }
}

body{
    background-image: linear-gradient(to left, #434343 0%, black 120%);

    // background: #292F36;

    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    overflow-x: hidden;
}


h2{       
    font-size: 4.5rem;
    letter-spacing: 3px;
    font-weight: 400;
    padding-bottom: 1rem;
}

h3{
    font-size: 3rem;
    padding: 5rem 1rem;
    color: #4ECDC4;
    font-weight: 400;
}

h4{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 5px;
    padding-bottom: 1rem;
}

h5{
    font-size: 1.7rem;
    color: #FF6B6B;
}

button{
    outline: none;
}

section{
    padding-bottom: 5rem;
}

.content{
    min-height: calc(100vh - 10rem);
}

.overlay{
    background: linear-gradient(to right, rgba(0, 0, 0, .8) 28%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, .1));
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
}

span{
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 300;
}

.ui.input input{
    background: #434343;
    color: #FFF;
    transition: all .5s ease;

    &:focus{
        background: #FFF;
        border-color: #FF6B6B;
        padding-left: 3rem;
        width: 35rem; 
    }
}

iframe{
    @include respond(tab-land){
        width: 640px; 
    }

    @include respond(tab-port){
        width: 400px;
        height: auto;
    }

    @include respond(phone){
        width: 300px;
        height: auto;
    }
}

