.cast-slider{
    position: relative;
    overflow-x: hidden;
    overflow-y: visible; 
}

.cast-wrapper{
    display: flex;
    justify-content: flex-start;

    .cast-box{
        padding: 0 5px;
        display: flex;
        flex-direction: column;
    }

    img{
        width: calc(20vw - 10px);
        height: 35rem;
        object-fit: cover; 
        
        @include respond(tab-land){
            height: 30rem;
        }
        
        @include respond(tab-port){
            height: 25rem;
        }

        @include respond(phone){
            height: 16rem;
        }
        
    }
}



