.slider{
    position: relative;   
    overflow-x: hidden;
    overflow-y: auto;    
}

.slider-wrapper{
    display: flex;

    a{
        display: inline-block;
        
    }

    img{
        padding: 0 5px;
        // width: 20%;
        width: 19.8vw;
        height: auto;
        cursor: pointer;
        transition: all .5s ease;
        display: block;
        
        &:hover{
            transform: translateY(-5px);
        }
    }

}

.slider__buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    button{
        margin: 1rem;
        border: none;
        padding: 4rem .5rem;
        background: rgba(0, 0, 0, .7);
        color: #F7FFF7;
        outline: none;
        cursor: pointer;
        transition: all .2s linear;
        pointer-events: auto;
        
        i{
            font-size: 2rem;
        }

        &:hover{
            background: rgba(255, 255, 255, .2);
            color: #FF6B6B;
        }

        &:disabled{
            pointer-events: hidden;
            background: none;

            i{
                color: transparent;
            }
        }
    }
}

